@import url('reset.css');

:root {
  --dark-blue: #0b0d17;
  --light-blue: #d0d6f9;
  --white: #fff;
  --gray: rgba(255, 255, 255, 0.5);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;

  color: var(--light-blue);
}

main > div {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  padding: 78px 0;
}

h1 {
  text-transform: uppercase;
  display: flex;
  gap: 24px;
  justify-content: center;
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #979797;
}

/**
 * =======================================================================================
 * Tablet Styles
 * =======================================================================================
 */
@media screen and (min-width: 601px) {
  main {
    padding: 128px;
  }

  h1 {
    justify-content: flex-start;
  }
}

/**
 * =======================================================================================
 * Desktop Styles
 * =======================================================================================
 */
@media screen and (min-width: 1025px) {
  header {
    padding-top: 60px;
    padding-left: 48px;
  }

  main {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 256px;
  }
}
