@import url('base.css');
@import url('typography.css');
@import url('components.css');
/* @import url('states.css'); */

.home,
.destination,
.crew,
.technology {
  color: var(--white);

  display: flex;
  flex-direction: column;

  position: relative;
}

.home {
  background: url('/home/background-home-mobile.jpg') center / cover fixed
    no-repeat;
}

.destination {
  background: url('/destination/background-destination-mobile.jpg') center /
    cover fixed no-repeat;
}

.crew {
  background: url('/crew/background-crew-mobile.jpg') center / cover fixed
    no-repeat;
}

.logo {
  width: 40px;
  height: 40px;
}

.hidden {
  display: none;
}

.active-link {
  border-right: 3px solid var(--white);
}

.current-destination {
  border-bottom: 3px solid var(--white);
  color: var(--white);
}

.active-pagination-button {
  background-color: var(--white);
}

.uppercase {
  text-transform: uppercase;
}

/**
 * =======================================================================================
 * Tablet Styles
 * =======================================================================================
 */
@media screen and (min-width: 601px) {
  .home {
    background: url('/home/background-home-tablet.jpg') center / cover fixed
      no-repeat;
  }

  .destination {
    background: url('/destination/background-destination-tablet.jpg') center /
      cover fixed no-repeat;
  }

  .crew {
    background: url('/crew/background-crew-tablet.jpg') center / cover fixed
      no-repeat;
  }

  .active-link {
    border-right: none;
    border-bottom: 3px solid var(--white);
  }
}

/**
 * =======================================================================================
 * Desktop Styles
 * =======================================================================================
 */
@media screen and (min-width: 1025px) {
  .home {
    background: url('/home/background-home-desktop.jpg') center / cover fixed
      no-repeat;
  }

  .destination {
    background: url('/destination/background-destination-desktop.jpg') center /
      cover fixed no-repeat;
  }

  .crew {
    background: url('/crew/background-crew-desktop.jpg') center / cover fixed
      no-repeat;
  }
}
